/* Page wide styling */

html {
	font-family: Helvetica;
	font-size: 16px;
	line-height: 1.4;
}

body {
	margin: 0 auto;
}

.container {
	display: flex;
	margin: 0 auto;
}


/* Header Styling */

header {
	position: fixed;
	z-index: 100;
	width: 100%;
	background-color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
}

.company {
	display: flex;
	align-items: center;
}

.logo {
	height: 2rem;
	margin-left: 1.5rem;
}

ul li {
	list-style: none;
	display: inline-block;
	margin-right: 1rem;
}

/* Banner & slogan section styling */

.banner-container {
  background-color: #DCDCDC;
  width: 100%;
  align-items: center;
  padding-top: 4rem;
}

.banner-img {
	width: 60%;
	margin: 2rem 1.5rem;
}

.banner-img img {
	width: 100%;
}

.slogan-container {
  color: #484848;
  text-align: left;
  width: 30%;
}

h1.slogan {
	font-size: 2rem;
}

.slogan-info {
	font-size: 1.5rem;
}

.button {
	display: block;
	color: white;
	background-color: #484848;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-align: center;
	font-size: 1.5rem;
}

.slogan, .slogan-info, .button {
	margin: 1.5rem 0rem;
}

/* Info section Styling */

.info-main {
	width: 60%;
	margin: 2rem 1.5rem;
}

.info-main img {
	width: 100%;
	margin-bottom: 32px;
}

.info-main h2 {
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}

.info-main p {
	margin-bottom: 2rem;
}

.info-sidebar {
	width: 40%;
	margin-top: 1rem;
}

.sidebar {
	display: flex;
	align-items: center;
}

.info-sidebar img {
	width: 35%;
	height: auto;
	margin: 1rem;
}

.info-text p {
	margin: 8px 0;
}


/* Courses section Styling */



h1 {
	text-align: center;
	font-size: 2rem;
	background-color: #DCDCDC;
	padding-top: 2rem;
	padding-bottom: 1rem;
	width: 100%;
}

.courses {
	display: flex;
	flex-wrap: wrap;
	padding: 1rem 3.5rem;
	background-color: #DCDCDC;
}

.course {
	width: 30%;
	margin: 1rem;
	background-color: white;
}

.course img {
	height: auto;
	width: 100%;
	overflow: hidden;
}